@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 217 25% 97%;
    --foreground: 210 100% 12%;
    --card: 0 0% 100%;
    --card-foreground: 210 100% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 100% 12%;
    --primary: 210 100% 12%;
    --primary-foreground: 0 0% 98%;
    --secondary: 44 98% 54%;
    --secondary-foreground: 210 100% 12%;
    --muted: 217 25% 90%;
    --muted-foreground: 210 25% 40%;
    --accent: 44 98% 54%;
    --accent-foreground: 210 100% 12%;
    --destructive: 355 100% 43%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 44 98% 54%;
    --chart-1: 210 100% 12%;
    --chart-2: 44 98% 54%;
    --chart-3: 355 100% 43%;
    --chart-4: 209 100% 65%;
    --chart-5: 217 25% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 216 100% 6%;
    --foreground: 0 0% 98%;
    --card: 210 50% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 210 50% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 44 98% 54%;
    --primary-foreground: 210 100% 12%;
    --secondary: 210 100% 12%;
    --secondary-foreground: 44 98% 54%;
    --muted: 210 30% 15%;
    --muted-foreground: 217 15% 70%;
    --accent: 209 100% 65%;
    --accent-foreground: 210 100% 12%;
    --destructive: 355 100% 43%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 30% 20%;
    --input: 210 30% 20%;
    --ring: 44 98% 54%;
    --chart-1: 44 98% 54%;
    --chart-2: 209 100% 65%;
    --chart-3: 355 100% 43%;
    --chart-4: 210 100% 12%;
    --chart-5: 217 25% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
